@charset "utf-8";
@font-face {
  font-family: 'YESGothic-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESGothic-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body{font-family: 'YESGothic-Regular';}

input[id*="popup"] {
  display: none;
}
input[id*="popup"] + label {  /*input 바로 다음에 있는 label을 말하는 것임*/
  display: inline-block;
  padding: 20px;
  background: #ffcd41;
  color: #fff;
}
input[id*="popup"] + label + div { /*큰 div*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
input[id*="popup"] + label + div > div {
  position: absolute; /*부모요소랑 상호작용 안 함*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 300px;
  background: #fff;
  z-index: 2;
}
input[id*="popup"] + label + div > div > label { /*닫기 버튼*/
  position: absolute;
  top: 0%;
  right: 0%;
  transform: translate(40%, 40%);
  padding: 0px; /*X 주변 여백*/
  background: #dd5347;
  border-radius: 30%; /*버튼의 곡률: 100%일 경우 완전 원이 됨*/
  z-index: 1;
}
input[id*="popup"] + label + div > label { /*팝업 바깥 부분 색깔 지정*/
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1;
}


input[id*="popup"] + label + div { /*큰 div- 클릭하기 전*/
  opacity: 0;
  visibility: hidden;
  transition: all 1s; /*애니메이션*/
}
input[id*="popup"]:checked + label + div { /*큰 div- 클릭 후*/
  opacity: 1;
  visibility: visible;
}