@charset "utf-8";
@font-face {
  font-family: 'YESGothic-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/YESGothic-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body{font-family: 'YESGothic-Regular';}


p.text{font-size:12pt; line-height:18pt; color:black;}
p.credit{font-size:8pt; margin-top:10pt; color: #b5b5b5;}


div {position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background:azure
}

div > div{
  position: flex;
  top: 10vh;
  /*left: 50%;*/
  /*transform: translate(-50%, -50%);*/
  width: 94vw;
  height: 30vh;
  background:bisque;
  z-index: 2;
}

div.popup-content{
  position:relative;
  top:0%;
  height:25vh;
  padding-left: 3vw; padding-right:3vw;
  overflow:auto;
}

div.popup-bottom{
  position: sticky;
  top:50vh;
  width:90vw;
  align-items: center;
  height:20%;
  /*left:50%;*/
  background: blue;
  padding-left: 3vw; padding-right:3vw;
}

p.credit, button.close {display: inline-block;}